.input-recipe-amount{
    width: 10vw;
    
}

.input-recipe-search{
    width: 29vw;
    margin-left: 10px;
}

.hide{
    display: none;
}

.show{
    display: inline;
}

#ingredients{
    max-height: 300px;
    overflow: auto;
    width: 50%;
    float: right;
}

.search-results{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid lightgrey;
}

.search-result-button{
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
}

.search-result-button:hover{
    background-color: #e9ecef;
}

